//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12.col-xs-12
      h2 Text Input
      p This demo is using a body of knowledge AKA the corpus of 20 vacation cities you're interested in going to with the Concept Insights API.  Type in a concept or activity and find which place is most relevant to your interests.
      div.tags-container
      div#remote.input-container
        input.typeahead.form-control.query(type='text',autofocus, placeholder=' Try "snorkel" or "beach"', required='true', value='', autocomplete='off', data-provide='typeahead')
    div.col-lg-12.col-xs-12
      h2 Results
      div.row
        div.col-lg-12.col-xs-12.text-center
          div.errorMsg(style='display:none')
            p Internal Server Issue.  Try refreshing and see if it's working again.
        div.row.loading(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif')
        div.noresult.text-center(style='display:none;')
          h4 No results found
        div.result(style='display:none;')
          div.col-lg-12.col-xs-12.col-md-12.well.text-center
            p.result-description What you're seeing here are the most relevant cities out of the 20 vacation cities in the corpus.  Concept Insights automagically tags each of these cities with their Wikipedia Knowledge Graph it has developed.  Once they’re tagged, you can search against them with your search query.  The result is a list of cities that are most relevant to your search query.  Each city has a list of related and relevant activities determined by Concept Insights' knowledge graph tagging.
            .locations.clearfix
            div
              a.btn.btn-primary.btn-md.tradeoff-btn(style='margin:10px;') Compare with Tradeoff Analytics
          div.col-lg-12.col-xs-12.col-md-12.well
            h3 Ask questions?
            div.form-group.row
              div.col-lg-12.col-xs-12(style='margin-top:10px;')
                input.form-control.question(placeholder='Type a question...')
                a.btn.btn-link.example-question(style='padding-left:0px;') Try an example question
            div.row.loading-answers(style='display:none;')
              div.col-lg-12.col-xs-12.text-center
                img(src='images/watson-gray.gif')
            div.row.answers
      div.result
        div.ta-container(style='display:none;margin-bottom:30px;')
          h3 Tradeoff Analytics
          div.row
            div.col-lg-12.col-xs-12.text-center.ta-loading
              img(src='images/watson-gray.gif')
            div.col-lg-12.col-xs-12.ta-result(style='display:none;')
              #taWidgetContainer

  div.location-template(style='display:none')
    .col-lg-3.col-md-3.col-xs-6
      .employee-card.row
        .overflow-container
          .expert-info.col-lg-12.col-md-12.col-xs-12
            a.expert-result(href='/location', target='_blank')
              h4.expert-name Location Name
              h4.expert-score Score
            hr
            ul.expertise
  form.location-form(method='post', action='destination').hidden
    input.location-id(name='place')
