//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12.col-xs-12
      h2 Text Input
      p This particular demo has built a body of knowledge around the best 20 locations to go on vacations. You can query activities or topics relevant to a location.
      div.tags-container
      div#remote.input-container
        input.typeahead.form-control.query(type='text',autofocus, placeholder=' Try "snorkel" or "beach"', required='true', value='', autocomplete='off', data-provide='typeahead')
    div.col-lg-12.col-xs-12
      h2 Results
      div.row
        div.col-lg-12.col-xs-12.text-center
          div.errorMsg(style='display:none')
            p Internal Server Issue.  Try refreshing and see if it's working again.
        div.row.loading(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif')
        div.noresult.text-center(style='display:none;')
          h4 No results found
        div.result(style='display:none;')
          div.col-lg-12.col-xs-12.col-md-12.well.text-center
            .locations
            a.btn.btn-primary.btn-md.tradeoff-btn(style='margin:10px;') Compare with Tradeoff Analytics
          div.col-lg-12.col-xs-12.col-md-12.well
            h3 Ask questions?
            div.form-group.row
              div.col-lg-12.col-xs-12(style='margin-top:10px;')
                input.form-control.question(placeholder='Type a question...')
                a.btn.btn-link.example-question(style='padding-left:0px;') Try an example question
            div.row.loading-answers(style='display:none;')
              div.col-lg-12.col-xs-12.text-center
                img(src='images/watson-gray.gif')
            div.row.answers
      div.result
        div.ta-container(style='display:none;margin-bottom:30px;')
          h3 Tradeoff Analytics
          div.row
            div.col-lg-12.col-xs-12
              #taWidgetContainer

  div.location-template(style='display:none')
    .col-lg-3.col-md-3.col-xs-6
      .employee-card.row
        .overflow-container
          .expert-info.col-lg-12.col-md-12.col-xs-12
            a.expert-result(href='/location', target='_blank')
              h4.expert-name Location Name
            hr
            ul.expertise
  form.location-form(method='post', action='destination').hidden
    input.location-id(name='place')
